@import "common/var";
@import './mixins/mixins.scss';

@include b(collapse) {
    border-top: 1px solid $--collapse-border-color;
}

@include b(collapse-item) {
    @include e(header) {
        cursor: pointer;
        height: $--collapse-header-height;
        line-height: $--collapse-header-height;
        color: #303133;
        background-color: $--collapse-header-background-color;
        border-bottom: 1px solid $--collapse-border-color;
        font-size: $--collapse-header-font-size;
        font-weight: 500;
        transition: border-bottom-color .3s;
        outline: none;
        user-select: none;
        padding-left: $--collapse-header-arrow-width;

        @include when(active) {
            border-bottom-color: transparent;
        }

        @include when(custom-header) {
            padding-left: 0;
        }

        @include e(title) {
            width: 100%;
            height: 100%;
            float: left;
            margin-left: -$--collapse-header-arrow-width;
        }

        @include e(arrow) {
            width: $--collapse-header-arrow-width;
            float: right;
            text-align: center;
            vertical-align: middle;
            @include when(active) {
                &>i {
                    transform: rotate(90deg);
                }
            }
        }
    }

    @include e(wrap) {
        will-change: height;
        box-sizing: border-box;
    }

    @include e(content) {
        padding-bottom: 25px;
        font-size: $--collapse-content-font-size;
        color: $--collapse-header-font-color;
        line-height: 1.769230769230769;
        border-bottom: 1px solid $--collapse-border-color;
    }
}