@import './mixins/mixins.scss';

/* 使用position */
@include b(center-adapt) {
    position: relative;
    @include e(left) {
        position: absolute;
        top: 0;
        left: 0;
    }

    @include e(center) {
    }

    @include e(right) {
        position: absolute;
        top: 0;
        right: 0;
    }
}