@import "mixins/mixins";
@import "common/var";
@import "common/transition";

@include b(tree) {
    position: relative;
    color: $--tree-font-color;
    background: $--color-white;

    @include e(empty-block) {
        min-height: 60px;
        position: relative;
        text-align: center;
    }

    @include e(empty-text) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $--color-text-secondary;
        font-size: $--font-size-base;
    }
}

@include b(tree-node) {
    white-space: nowrap;
    outline: none;
    &:focus {
        > .lay-tree-node__content {
            background-color: $--tree-node-hover-background-color;
        }
    }

    @include e(content) {
        height: 26px;
        cursor: pointer;
        &:hover {
            background-color: $--tree-node-hover-background-color;
        }
    }

    @include e(expand-icon) {
        padding: 6px;
        color: $--tree-expand-icon-color;
        font-size: 12px;

        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out;

        &.expanded {
            transform: rotate(90deg);
        }

        &.is-leaf {
            &:before {
                opacity: 0;
            }
        }
    }

    @include e(arrow-icon) {
        font-size: 14px;
        color: #515a6e;
    }

    @include e(loading-icon) {
        font-size: 14px;
        font-weight: 400;
        color: #515a6e;
    }

    @include e(label) {
        font-size: $--font-size-base;
    }
}

.lay-tree--highlight-current,
.lay-tree-node.is-current > .lay-tree-node__content {
    background-color: mix($--color-white, $--color-primary, 92%);
}

