@import './mixins/mixins.scss';
@import './mixins/utils.scss';

/* 使用float+overflow */
@include b(right-fix) {
    @include utils-clearfix;

    // padding-left: 100px; /* calc */
    
    @include e(left) {
        width: 100%;
        // height: 500px; /* calc */
        float: left;
        // margin-left: -100px; /* calc */
    }

    @include e(right) {
        // width: 100px; /* calc */
        // height: 500px; /* calc */
        float: right;
    }
}